<p>Hello <%= @user.name %>,</p>
<p>You have been added to <%= @organization.name %> on <%= @app_name %></p>
<p><%= link_to 'Click here', @login_url %> to login.</p>
<p>Thanks!</p>
<p>The <%= @app_name %> Team</p>
